body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 72px;
}

a {
  color: #404040;
}
a:focus,
a:hover {
  color: #0085a1;
}

p a {
  color: #008aff;
}

/* Nav Bar */
.navbar-custom {
  font-weight: 800;
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
  transition: padding 0.35s ease-in-out;
}

.navbar-custom .navbar-nav {
  font-size: 14px;
  letter-spacing: 1px;
}

.navbar-custom .navbar-brand a:focus,
.navbar-custom .navbar-brand a:hover {
  color: #0085a1;
}

.navbar-custom .navbar-nav a.nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #404040;
}
.navbar-custom .navbar-nav a.nav-link:focus,
.navbar-custom .navbar-nav a.nav-link:hover {
  color: #0085a1;
}

.navbar-custom.reduced .avatar-container {
  opacity: 0;
}
@media (max-width: 576px) {
  .navbar-custom.expanded .avatar-container {
    display: none;
  }
}

.navbar-custom .avatar-container {
  opacity: 1;
  position: absolute;
  transition: opacity 0.35s ease-in-out,
              width 0.35s ease-in-out,
              margin-top 0.35s ease-in-out;
  left: 50%;
  width: 50px;
  margin-top: -30px;
}

.navbar-custom .avatar-container .avatar-img-border {
  background-color: #f5f5f5;
  width: 100%;
  border-radius: 50%;
  margin-left: -50%;
  display: inline-block;
  box-shadow: 0 0 5px rgba(0, 0, 0, .8);
}

.navbar-custom .avatar-container .avatar-img {
  width: 100%;
  border-radius: 50%;
  display: block;
}

/* Header */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h1 {
  font-weight: 800;
  font-size: 50px;

}

header .page-subheading {
  font-size: 27px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-radius: 3px;
  border-color: inherit;
}

/* Posts */
article {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
article:last-child {
  border-bottom: none;
}

article .post-title {
  font-size: 30px;
  font-weight: 800;
}

article .post-meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  font-style: italic;
  margin: 0 0 10px;
}

/* Pager */
.pager {
  text-align: center;
  list-style: none;
}
.pager span {
  display: inline-block;
  margin-bottom: 40px;
}
.pager span a {
  font-size: 14px;
  font-weight: 800;
  padding: 10px 10px;
  border: 1px solid #ddd;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}
.pager span a:hover,
.pager span a:focus {
  color: white;
  background-color: #0085a1;
}

/* Footer */
footer {
  padding: 20px 0 15px;
  background: #f5f5f5;
  border-top: 1px solid #eaeaea;
  font-size: 14px;
}

footer .theme-details {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 14px;
}

@media (min-width: 576px) {
  body {
    padding-top: 126px;
  }

  .navbar-custom {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .navbar-custom.reduced {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-custom .avatar-container {
    width: 70px;
    margin-top: -10px;
  }
  @media (min-width: 960px) {
    .navbar-custom .avatar-container {
      width: 100px;
      margin-top: -50px;
    }
  }

  .navbar-custom .avatar-container .avatar-img-border {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .8);
  }

  header {
    margin-bottom: 30px;
  }

  header h1 {
    font-size: 80px;
  }

  article .post-title {
    font-size: 36px;
  }

  .pager span {
    margin-bottom: 15px;
  }
  .pager span a {
    padding: 15px 25px;
  }

  footer {
    padding: 30px 0 20px;
    margin-top: 30px;
    font-size: 18px;
  }
}
